<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaoyuntao.androidutils" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <application
        >
        <activity
            android:name="com.zhaoyuntao.androidutils.permission.bridge.BridgeActivity"
            android:theme="@style/Permission.Theme"/>
        <provider
            android:name="com.zhaoyuntao.androidutils.permission.FileProvider"
            android:authorities="com.zhaoyuntao.androidutils.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/permission_file_paths"/>
        </provider>
    </application>
</manifest>
